/* OVERRIDE BROWSER */
strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

strike {
    text-decoration: line-through;
}

u {
    text-decoration: underline;
}

a {
    outline-style: none!important;
}

a img {
    border:none;
}

body {
    background-color: #FFFFFF;
    margin: 0px;
}

table {
    border-collapse: collapse;
}

td {
    padding: 10px;
    vertical-align: top;
}
/* END OVERRIDE BROWSER */
/* GENERAL CLASS */
.center {
    text-align: center;
}

.centerTable {
    margin: auto;
}

.alignLeft {
    text-align: left;
}

.inline {
    display: inline-block;
}

.obligatory {
    color: red;
}

.green {
    color: #468847;
}

.red {
    color: #B94A48;
}
/* END GENERAL CLASS */
/* PURE.CSS ADDS */
.pureContentVertical {
    padding-left: 20px;
    padding-right: 20px;
}

.pureContentHorizontal {
    padding-top: 10px;
    padding-bottom: 10px;
}
/* END PURE.CSS ADDS */
/* GENERAL THEME */
html {
    font-family: arial, sans-serif;
    min-width: 264px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    font-family: 'MV boli', sans-serif;
}

h1 {
    margin: 40px 0px!important;
    padding: 10px 0px;
    text-indent: 15px;
}
/* END GENERAL THEME */
/*  lgWonderfullMenu */

.wonderfullSticked, .wonderfullMobile {
    position: fixed;
}

.wonderfullMobile {
    max-width: 300px;
    height: 100%;
    display: inline-block; 
    left: -300px;
}

.wonderfullMobile div {
    display: inline-block;                
}

.wonderfullMobile div a {
    text-align: left;
    border-right: none;
    border-bottom: 1px solid #4A4A4A;
}

.navButtonMenuSpacer {
    border-bottom: 1px solid #4A4A4A;
    height: 40px;
    width: 100%;
}

.navButtonMenu {
    height: 40px;
    width: 40px;
    position: fixed;
    top: 0px;
    background: center center no-repeat #333333;
    background-image: url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADhJREFUeNpi/P//PwOtARMDHQBdLGFBYtMq3BiHT3DRPU4YR4NrNAmPJuHRJDyahEeT8Ii3BCDAAF0WBj5Er5idAAAAAElFTkSuQmCC );
    cursor: pointer;
    z-index: 1001;
}

/* END lgWonderfullMenu */

#menu {
    border: none;
    z-index: 100;
    width: 100%;
}

#menu li {
    padding-left: 0px;
    padding-right: 0px;
}

#menu li a {
    width: 100%;
    display: inline-block;
    text-align: center;
}

#menu li ul {
    width: 60%;
}

/* MENU */
.nav {    
    width: 100%;
    background-color:#333333; 
    z-index: 1000;
}           

.nav div {                
    font-size: 16px;
    text-align: center;
}

.nav div a {
    text-decoration:none;
    color:#929291;
    margin: 0px;
    outline: 0px;
    padding:10px 14px;
    display: block;
}

.nav div a {
    border-right: 1px solid #4A4A4A;
}

.nav div a:hover, .nav div.activeWM a {
    color: #FFFFFF;
}
/* END MENU */
/* CONTENT */
#content {
    line-height: 24px;
}

#homeContent {
    margin-top: 10%;
    padding: 20px 0px;
    background: rgba(0, 0, 0, 0.4);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#b4000000, endColorstr=#b4000000);
}

#sectionHome {
    //background: url("../images/home/fond2web.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/home/fond2.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/home/fond2.jpg', sizingMethod='scale')";
}

#sectionSkills .box {
    background-color: #FFFFFF;
    margin: 5px;
    padding: 10px;
    border-radius: 30px;
}

#sectionExperiences .box {
    background-color: #2D251B;
    color: #FFFFFF;
    margin: 5px;
    padding: 10px;
    border-radius: 30px;
}

.box h3, .box h5 {
    text-align: center;
}

#sectionExperiences h1, #sectionContact h1 {
    background-color: #2D251B;
    color: #FFFFFF;
}

#sectionSkills h1, #sectionPortfolios h1 {
    background-color: #FFFFFF;
}

#contactMessage {
    text-align: center;
    opacity: 0;
    height: 0px;
}
/* END CONTENT */