
.icon-home:before { content: '\e802'; } /* '' */
.icon-download:before { content: '\e806'; } /* '' */
.icon-phone:before { content: '\e803'; } /* '' */
.icon-vcard:before { content: '\e805'; } /* '' */
.icon-viadeo:before { content: '\e800'; } /* '' */
.icon-linkedin:before { content: '\e801'; } /* '' */
.icon-email:before { content: '\e804'; } /* '' */