html
{
height:100%;
}

body
{
margin:auto;
width:700px;
height:100%;
background-color:black;
color:white;
}

#error
{
font-style:italic;
font-size: 12px;
background-color:gray;
}

#contenu
{
padding:10px;
background-image:url(images/1/contenu.png);
}

#image
{
width:210px;
}


#comm
{
vertical-align:top;
}

#cv
{
text-align:right;
background:url(images/1/menu2.png) no-repeat;
background-position:right; 
}

.menu
{
border-bottom:20px;
margin:auto;
background:url(images/1/menu1.png) no-repeat;
text-align:center;
height:31px;
width:400px;
background-position:center; 
}

.menucv
{
padding-top:5px;
background:url(images/1/menu.png) no-repeat;
text-align:center;
height:31px;
}

form 
{
text-align:center;
}

form table
{
margin:auto;
width: 100%;
}

form table td
{
vertical-align:top;
text-align:left;
}

#boutton
{
text-align:right;
padding-right:125px;
}


.section
{
vertical-align:top;
}



.tab1px
{
width: 100%;
margin-left: auto;
margin-right: auto;
border-collapse:collapse;
}
.tab1px th
{
border: 1px solid;
}
.tab1px td
{

padding:10px;
border: 1px solid;
}


.tab1pxb
{
width: 100%;
margin-left: auto;
margin-right: auto;
border-collapse:collapse;
}
.tab1pxb th
{
border: 1px solid;
}
.tab1pxb td
{
padding:10px;
border: 1px solid;
}

.tab0px
{
width: 100%;
margin-left: auto;
margin-right: auto;
border-collapse:collapse;
}
.tab0px tr
{
border: 1px solid;
}
.tab0px td
{
padding:10px;
}

.photod
{
padding-top:15px;
vertical-align:top;
}

img
{
border:0px;
}

.lien
{
text-align:right;
padding-right:15px;
}

.dltable
{
width:100%;
margin-left: auto;
margin-right: auto;
border-collapse:collapse;
text-align:center;
}

#bas
{
background-image:url(images/1/footer.png);
width: 700px;
position:fixed;
bottom: 0px;
padding: 0px;
margin: 0px;
}

#bas1
{
text-indent:7px;
width:43%;
}

#remonter
{
text-align:right;
padding-right:15px;
}

.cont
{
height:7px;
border:0px;
margin:0px;
padding:0px;
line-height:1px;
}

#body
{
width:700px;
margin: 0px;
padding:10px 0px;
border-width:0px;
border-collapse:collapse;
}

#fond
{
width:700px;
min-height:100%;
margin: 0px;
padding:0px;
background:url(images/1/fond3.jpg);
}

.spacer
{
height:15px;
}