html {
	scroll-behavior: smooth;
	scroll-padding-top : 54px;
}

body {
	font-family: Verdana;
	background-color: $bodyBg;
}

header {
	z-index: 999;
	top: 0;
	position: fixed;
	width: 100%;
}

header>div>div {
	background-color: $headerBg;
	border-bottom: $headerBorder;
	padding: 8px 0;
}

section {
	overflow-y: auto;
}

footer {
	background-image: url($footerBg);
	background-position: center;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: darken;
	text-shadow: $textShadow;
	transition: 0.7s all;
}


h1,
h2,
h3 {
	text-align: center;
}

h1 {
	line-height: 40px;
    font-size: 32px;
	margin: 80px 0;
}

h2:not(#swal2-title) {
	margin-top: 0;
	padding: 10px 0;
	background-color: $mixH2Bg;
	color: $h2;
}

a {
	opacity: 0.8;
}

.darkBg a {
	color: $linkDark;
	transition: 0.7s all;
}

.darkBg a:hover,
.darkBg a:focus,
.darkBg a:active,
.darkBg a.active,
.darkBg .active a {
	background-color: initial;
	color: $linkDark;
	opacity: 1;
	text-decoration: underline;
}

.darkBg button {
	color: $linkDark;
	transition: 0.7s all;
}

.darkBg button.pure-button:hover,
.darkBg button.mixitup-control-active {
	border-color: $mixButtonHover;
	background-color: unset;
}

button, a.button {
	-webkit-text-stroke: 0.5px;
	padding: 10px 30px;
	border: $ButtonBorderDark;
}

a.pure-button,
button.pure-button {
	background-color: transparent;
	border: 1px solid $border;
}

.darkBg a.pure-button,
.darkBg button.pure-button {
	border-color: $borderDark;
}

a.pure-button:hover,
button.pure-button:hover {
	background-color: $linkHoverBg;
}

.darkBg button, .darkBg a.button {
	-webkit-text-stroke: 0.5px;
	padding: 10px 30px;
	border: $ButtonBorder;
}

p {
	color: $text;
	line-height: 24px;
	font-size: 14px;
	font-weight: 100;
	text-shadow: $textShadow;
}

.darkBg p {
	color: $textDark;
}

ul {
	color: $text;
	padding: 0;
	list-style: none;
}

li {
	margin-bottom: 4px;
}

img:not([src]):not([srcset]) {
  visibility: hidden;
}





