.mixSection {
	padding-bottom: 96px;
	background-color: rgba(0, 0, 0, 0.7);
	background-blend-mode: darken;
	background-attachment: fixed;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
}

.mixSection ul {
	margin: 20px;
	text-align: center;
}

.mixSection ul li {
	margin-top: 10px;
	background-color: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(6px);
}

.mixSection button {
	-webkit-text-stroke: 0.5px;
	padding: 10px 30px;
	border: $mixButtonBorder;
}

.mixWrap {
	backdrop-filter: blur(6px);
	max-height: 70vh;
	overflow-y: scroll;
	scrollbar-color: $scrollBar $scrollbarBg;
}

.mix {
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
	padding: 10px 3%;
	padding-bottom: 36px !important;
	background-clip: content-box;
	background-color: $mixTextBg;
	text-align: center;
	font-size: 0;
}

@media screen and (min-width:768px) {
	.mix {
		padding: 10px 1%;
		padding-bottom: 36px !important;
	}
}

.mix>div.pure-g {
	height: 100%;
	align-content: center;
}

.mix>div:not(.popupContent) {
	margin: 0 4px;
}

#skills .mix>div:not(.popupContent),
#xps .mix>div:not(.popupContent),
#culture .mix>div:not(.popupContent) {
	user-select: none;
	cursor: pointer;

}

.mix>.pure-g>.pure-u-1:nth-child(2),
.mix>.pure-g>.pure-u-1:nth-child(2),
.mix>div>.pure-g>div:nth-child(2),
.mix>.pure-g>.pure-u-1:nth-child(2) {
	margin-bottom: 30px;
}

.mix>div:not(.popupContent)>div,
.mix>div:not(.popupContent)>div>div>div {
	align-items: center;
}

.mix>div>div::before {
	content: " ";
	display: inline-block;
	height: 100%;
	width: 1px;
	vertical-align: middle;
}

.mix>div>div>h3,
.mix>div>div>span,
.mix>div>div>img {
	max-width: calc(100% - 8px);
	display: inline-block;
}

.mix>div>h3,
.mix>div>img {
	margin: auto;
}

.mix h3 {
	color: $text;
	margin: 12px 0;
}

.mix img {
	margin: 4px 0;
}

.mix span+div img {
	margin-bottom: 20px;
}

#skills h3 {
	vertical-align: middle;
	display: inline-block;
}

.mix>* {
	font-size: initial;
}

.mix>span {
	font-size: 14px;
	padding: 4px;
	border: 1px solid $mixSpanBorder;
	height: 28px;
	background-color: $mixSpanBg;
	text-align: center;
	display: inline-block;
	box-sizing: border-box;
}

.mix .date {
	width: 28%;
}

.mix .where,
.mix .version,
.mix .nbrVideos {
	width: 72%;
	text-align: right;
}