div.progressBar {
	display: inline-block;
	width: calc(100% - 46px);
	background-color: $progressBarBg;
	padding: 3px;
	border-radius: 3px;
	box-shadow: inset 0 1px 3px $progressBarShadow;
	vertical-align: middle;
}

div.progressBar>div {
	height: 22px;
	background-color: $progressBar;
	border-radius: 3px;
	transition: width 500ms ease-in-out;
}

td:has(div.progressBar)::before {
	display: inline-block;
	font-size: 10px;
	vertical-align: middle;
}

tr[data-progress="1"]>td>div.progressBar>div {
	width: 30px;
}

tr[data-progress="1"]>td:has(div.progressBar)::before {
	content: '1%';
}

tr[data-progress="10"]>td>div.progressBar>div {
	width: 30px;
}

tr[data-progress="10"]>td:has(div.progressBar)::before {

	content: '10%';
}

tr[data-progress="20"]>td>div.progressBar>div {
	width: 30px;
}

tr[data-progress="20"]>td:has(div.progressBar)::before {
	content: '20%';
}

tr[data-progress="30"]>td>div.progressBar>div {
	width: 30px;
}

tr[data-progress="30"]>td:has(div.progressBar)::before {
	content: '30%';
}

tr[data-progress="40"]>td>div.progressBar>div {
	width: 40px;
}

tr[data-progress="40"]>td:has(div.progressBar)::before {
	content: '40%';
}

tr[data-progress="50"]>td>div.progressBar>div {
	width: 50px;
}

tr[data-progress="50"]>td:has(div.progressBar)::before {
	content: '50%';
}

tr[data-progress="60"]>td>div.progressBar>div {
	width: 60px;
}

tr[data-progress="60"]>td:has(div.progressBar)::before {
	content: '60%';
}

tr[data-progress="70"]>td>div.progressBar>div {
	width: 70px;
}

tr[data-progress="70"]>td:has(div.progressBar)::before {
	content: '70%';
}

tr[data-progress="80"]>td>div.progressBar>div {
	width: 80px;
}

tr[data-progress="80"]>td:has(div.progressBar)::before {
	content: '80%';
}

tr[data-progress="90"]>td>div.progressBar>div {
	width: 90px;
}

tr[data-progress="90"]>td:has(div.progressBar)::before {
	content: '90%';
}

tr[data-progress="100"]>td>div.progressBar>div {
	width: 100px;
}

tr[data-progress="100"]>td:has(div.progressBar)::before {
	content: '100%';
}