#presentation h3 {
	text-align: left;
}


#presentation img {
	max-width: 250px;
	max-height: 250px;
}



#presentation>div>div>div {
	padding: 8px;
}

#presentation>div>div:nth-child(2),
#presentation>div>div:nth-child(3) {
	display: table;
}

#presentation>div>div:nth-child(2)>div,
#presentation>div>div:nth-child(3)>div {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}