$black: #000000;
$blackBrown: #1e1912;
$white: #ffffff;
$whiteLight: #fff6e5;
$grey: #5F5F5F;
$greyLight: #dddddd;

$blue: #1f8dd6;
$purple: #8058a5;
$green: #5eb95e;
$red: #dd514c;
$orange: #f37b1d;
$yellow: #fad232;


$brown: #7e6a53;
// $orange: #ff7d13;
$green2: #244224;

$bodyBg: $whiteLight;
$headerBg: $blackBrown;
$menuLogoBg: $white;
$linkHoverBg: $whiteLight;


$scrollBar: $whiteLight;
$scrollbarBg: $blackBrown;

$scrollBar: $whiteLight;
$scrollbarBg: $blackBrown;

$footerBg: $blackBrown;

$inputBg: $whiteLight;
$mixH2Bg: $blackBrown;
$mixTextBg: $whiteLight;
$mixSpanBg: $whiteLight;

$mixLu: $green;
$mixNLu: $red; 

$progressBarBg: $whiteLight;


$logosBg: '../images/keySkills/image-sprit.png';
$formationsBg: '../images/formations/background.png';
$ProjectsBg: '../images/projects/background.png';
$SkillsBg: '../images/skills/background.png';
$XpsBg: '../images/xps/background.png';
$cultureBg: '../images/culture/logo-youtube-rss-www-book.png';
$footerBg: '../images/contact/background.png';
$toTopBg: '../images/move-top.png';

$h2: $whiteLight;
$borderDark: $whiteLight;
$border: $grey;
$input: $blackBrown;
$linkDark: $white;
$mixButtonHover: $whiteLight;
$text: $grey;
$textDark: $whiteLight;
$progressBar: $green;

// $link: #0000ff;

$inputInvalid: $red;

$mixSpanBorder: $grey;

$headerBorder: 1px solid $blackBrown;
$ButtonBorder: 2px solid $grey;
$ButtonBorderDark: 2px solid $greyLight;
$topGridsBorder: 1px solid $greyLight;

$textShadow: 0.2px 0px 0.1px $greyLight;
$progressBarShadow: rgba(0, 0, 0, .2);

$topFilterShadow: 0px 4px 2px $black;