$black: #000000;
$blackBrown: #1e1912;
$white: #ffffff;
$whiteLight: #e3e3e3;
$grey: #5F5F5F;
$greyLight: #dddddd;

$blue: #1f8dd6;
$purple: #8058a5;
$green: #5eb95e;
$red: #dd514c;
$orange: #f37b1d;
$yellow: #fad232;




$brown: #7e6a53;
// $orange: #ff7d13;
$green2: #000000;



$headerBg: $blackBrown;
$menuLogoBg: $white;
$linkHoverBg: $white;

$footerBg: $blackBrown;


$inputBg: $brown;
$mixH2Bg: $blackBrown;
$mixTextBg: $white;
$mixSpanBg: $white;

$mixLu: $green;
$mixNLu: $red;


$progressBarBg: #e0e0e0;



$footerBg: '../images/footer-bg.jpg';
$logosBg: '../images/image-sprit.png';
$mixBg: '../images/culture/logo-youtube-rss-www-book.png';
$toTopBg: '../images/move-top.png';

$h2: $white;
$border: $whiteLight;
$input: $white;
$linkDark: $orange;
$mixButtonHover: $white;
$text: $grey;
$textDark: $whiteLight;
$progressBar: #659cef;

$inputInvalid: $red;

$mixSpanBorder: $grey;


$headerBorder: 1px solid $blackBrown;
$mixButtonBorder: 2px solid $grey;
$topGridsBorder: 1px solid $greyLight;

$textShadow: 0.2px 0px 0.1px $greyLight;
$progressBarShadow: rgba(0, 0, 0, .2);

$topFilterShadow: 0px 4px 2px $black;